<main class="index">
    <header class="bg-image m-auto p-5">
        <div class="text-center m-auto p-5">
            <h1 class="mb-1 display-1">Favorite links</h1>
        <h3 class="mb-5">
            <em>Store your favorite website's link</em>
        </h3>
        <a href="/signin" class="btn btn-primary btn-lg">Let's get started</a>
        </div>
        <div class="overlay"></div>
    </header>
</main>